@import '../../../styles/variables.scss';

.container__task {
  padding-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.form__container__button {
  background-color: $primary-color;
  color: $white;
  border: none;
  width: 80%;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: $font-size-medium;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  display: block;
  margin: 0 auto;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &:active {
    transform: scale(0.98);
  }
}
