@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #8e44ad;
$secondary-color: #e0aaff;
$accent-color: #2ecc71;
$background-color: #f4f4f4;
$text-color: #333333;
$red: #e74c3c;
$white: #fff;
$black: #000;

$font-size-xsmall: 0.75rem;
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 1.75rem;
$font-family: 'Roboto', sans-serif;

//media
$tablet: 767px;
$desktop: 1024px;
$mobile: 480px;

$spacing-xsmall: 0.8rem;
$spacing-small: 1.6rem;
$spacing-medium: 2.4rem;
$spacing-large: 3.2rem;
$spacing-xlarge: 4rem;
$spacing-xxlarge: 4.8rem;
$spacing-huge: 5.6rem;
$spacing-xhuge: 6.4rem;
