@import '../../../styles/variables.scss';

.button__card {
  all: unset;
  width: 50%;
  background-color: $primary-color;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: center;
  color: $white;
  border: 1px solid $white;
  padding: 5px;

  &:hover {
    cursor: pointer;
    background-color: $white;
    color: $primary-color;
    border: 2px solid $primary-color;
  }
}
<<<<<<< HEAD
@media (max-width: $mobile) {
  .button__card {
=======
@media(max-width: $mobile){
  .button__card{
>>>>>>> 5a5632497bd024695ab4d0c2b27f7ee350292dea
    width: 100%;
  }
}
