@import '../styles/variables.scss';
.container__main {
  width: 100%;
  min-height: 84vh;
  background-color: $background-color;
  box-sizing: border-box;
  font: $font-family;
  font-size: $font-size-medium;
  line-height: $spacing-small;
  color: $text-color;

  h1 {
    font-size: $font-size-xlarge;
    font-weight: 600;
    line-height: $spacing-medium;
  }
}
